.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-element{
  width: 100%;
  height: 30vh;
  background-image: url('../images/a56pe-0hqic.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.header-button-left{
  padding-top: 2%;
  display: inline-block;
  float: left;

}

.header-button-right{
  padding-top: 2%;
  display: inline-block;
  float: right;

}

:root {
  --ligth-gray: #DADCE0;
  --ligth-blue: #1B9CE2;
  --ligth-sea-green: #20B2AA;
}
.clalendar-header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
.shift{
  text-align: center;
    font-size: 12px;
    cursor: pionter;
    transition: background-color 200ms, color 200ms;
    padding-bottom: 1%;
    font-family: "Lucida Console", "Courier New", monospace;  
    color: var(--ligth-blue);
}
a {
  text-decoration: none;
    color: var(--ligth-blue);
}

.month-name {
  text-align: center;
    font-size: 12px;
    cursor: pionter;
    transition: background-color 200ms, color 200ms;
    padding-bottom: 1%;
    font-family: "Lucida Console", "Courier New", monospace;

}

#app-calendar{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 98vh;
}

.day{
  border-bottom: 1px solid var(--ligth-gray);
    border-right: 1px solid var(--ligth-gray);
    text-align: center;
    padding-top: 2%;
    font-size: 12px;
    cursor: pionter;
    transition: background-color 200ms, color 200ms;
}

.name{
  padding-bottom: 2%;
}

.weekend{
  color: skyblue;
}

.selected {
  background-color: var(--ligth-blue);
  color: white;
}

.today {
  background-color: var(--ligth-sea-green);
  color: white;
}

.root {
  width: 100%;
}


